<!DOCTYPE html>
<html>
  <head>
    <title>Hello Dave.</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1 class="jumbotron">Job Listings</h1>
      <a href='/jobs/new'>Add a new Job Opening.</a>
      <a href='/jobs'>See list of all Job Openings</a>
    </div>
  </body>
</html>
