<form action="/jobs" method="post">
  <label for="title">Title:</label>
  <input id="title" name="title" type="text">
  <label for="desc">Description:</label>
  <input id="desc" name="desc" type="text">
  <label for="contact">Phone Number:</label>
  <input id="contact" name="contact" type="text">
  <button type="submit">Submit</button>
</form>